$color-primary: #e0ece4;
$color-secondary: #f7f2e7;
$color-tertiary: #d8d3cd;
$color-tertiary-alt: #797a7e;
$color-black: #232323;
$color-white: #ffffff;

$color-primary-gradient: #fdc830;
$color-primary-gradient-alt: #f37335;
$color-secondary-gradient: #d3cce3;
$color-secondary-gradient-alt: #ffdde1;
