$color-primary: #e0ece4;
$color-secondary: #f7f2e7;
$color-tertiary: #d8d3cd;
$color-tertiary-alt: #797a7e;
$color-black: #232323;
$color-white: #ffffff;

$color-primary-gradient: #d9a7c7;
$color-primary-gradient-alt: #fffcdc;
$color-secondary-gradient: #d3cce3;
$color-secondary-gradient-alt: #e9e4f0;
$color-tertiary-gradient: #ffafbd;
$color-tertiary-gradient-alt: #ffc3a0;
