@import "variables.scss";
@import "mixins.scss";
.ProjectCard {
  border-radius: 50px;
  padding: 3rem;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(
    to right,
    $color-primary-gradient,
    $color-primary-gradient-alt
  );
  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }
  @include respond(tab-port) {
    padding: 2rem;
  }

  &:nth-child(3n) {
    background-image: linear-gradient(
      to right,
      $color-tertiary-gradient,
      $color-tertiary-gradient-alt
    );
  }
  &:nth-child(2n) {
    background-image: linear-gradient(
      to right,
      $color-secondary-gradient,
      $color-secondary-gradient-alt
    );
  }
  box-shadow: -5px -5px 10px rgba($color-white, 0.8),
    5px 5px 10px rgba($color-black, 0.4);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 50px 100px rgba($color-black, 0.05);
  }

  &__img-box {
    overflow: hidden;
    height: 30rem;
    position: relative;
    border-radius: 50px;
    box-shadow: -5px -5px 10px rgba($color-white, 0.6),
      5px 5px 10px rgba($color-black, 0.4);
    @include respond(tab-land) {
      margin-bottom: 3rem;
    }
  }

  &:hover &__img-box {
    transition: all 0.3s ease;
    transform: translateY(-0.5rem);
    box-shadow: 0 0 10px rgba($color-black, 0.4);
  }

  &__img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    @include respond(tab-port) {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    & > * {
      margin-bottom: 3rem;
      @include respond(tab-land) {
        margin-bottom: 1.5rem;
      }
    }

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    @include respond(tab-land) {
      font-size: 3rem;
    }
    @include respond(tab-port) {
      font-size: 2.5rem;
    }
    @include respond(sm-phone) {
      font-size: 1.5rem;
    }
  }

  &__summary {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 1.5rem;
    }
    @include respond(sm-phone) {
      font-size: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    background-color: $color-white;
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: -5px -5px 15px rgba($color-white, 0.4),
      5px 5px 10px rgba($color-black, 0.4);
    @include respond(phone) {
      display: block;
    }
    @include respond(sm-phone) {
      font-size: 1rem;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }

    &:hover {
      animation: jumpingText 1s linear infinite;
      box-shadow: 0 50px 50px rgba($color-black, 0.1);
    }
  }
}

@keyframes jumpingText {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
