@import "mixins.scss";
.App {
  padding: 6rem;

  @include respond(tab-land) {
    padding: 3rem;
  }

  @include respond(sm-phone) {
    padding: 1.5rem;
  }

  &__section {
    margin: 12rem 6rem;
    @include respond(tab-land) {
      margin: 0;
    }
  }

  &__section-title {
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
    font-size: 5rem;
    @include respond(tab-land) {
      font-size: 3rem;
      text-align: center !important;
    }
  }

  &__copyright {
    text-align: center;
  }
}
