@import "variables.scss";
@import "mixins.scss";
.Quotenator {
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-shadow: -5px -5px 15px rgba($color-white, 0.8),
    5px 5px 15px rgba($color-black, 0.4);
  border-radius: 50px;
  font-family: inherit;
  border: none;
  background-color: inherit;
  padding: 2rem;
  margin: 2rem 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: inset -5px -5px 15px rgba($color-white, 0.8),
      inset 5px 5px 15px rgba($color-black, 0.4);
  }
  &__quote {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }

  &__author {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    @include respond(tab-land) {
      font-size: 1.25rem;
    }
  }
}
