@import "mixins.scss";
.Section {
  margin: 6rem 0;
  padding: 2rem 0;

  &__title {
    &--right {
      text-align: right;
    }
    &--left {
      text-align: left;
    }
    font-size: 5rem;
    @include respond(tab-land) {
      font-size: 3rem;
      text-align: center !important;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    margin-right: 5rem;
    @include respond(tab-land) {
      font-size: 1.1rem;
      text-align: center !important;
      margin-right: 2rem;
    }
    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }
}
